@forward "../../styles/styles.scss";
@use "../../styles/styles.scss" as *;

.video {
    &__button {
        width: auto;
        background-color: rgba($BRAIN_FLIX_DARK_BLACK, 0.5);
        padding: 0.25rem 0.7rem 0.25rem 0.7rem;
        height: 1.5rem;
        line-height: 0;
        font-size: 0;
        display: flex;
        justify-content: center;

        @include tablet-plus {
            height: auto;
            padding: 0.5rem 1rem 0.5rem 1rem;
        }
    }
    &__button img {
        background-color: rgba(#000000, 0);
        object-fit: cover;
        display: flex;
        justify-content: center;
    }

    &__currenttime,
    .video__duration {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 0.5rem;
        color: $WHITE;
    }

    &__window {
        background-color: $BRAIN_FLIX_DARK_BLACK;
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: calc(0.5625 * 100%);
        margin-bottom: $MBEFORE_HEADLINE_PADDING;

        // @include mobile{
        //     // max-height: 16rem;
        // }
    }

    &__controls {
        position: absolute;
        align-self: flex-end;
        @include component-padding(0, 1, 0, 1);
        padding-bottom: 0.75rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: auto;
        max-width: 45rem;

        @include tablet-plus {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__volumefullscreen {
        display: flex;
        margin-left: 0.5rem;

        @include tablet-plus {
            margin-left: 0.75rem;
            margin-right: 0.75rem;
        }
    }

    &__button {
        &--play {
            width: 3rem;
            margin-right: 0.5rem;
            border-radius: 0.375rem;

            @include tablet-plus {
                margin-right: 0.75rem;
                margin-left: 0.75rem;
            }
        }
        &--fullscreen {
            border-radius: 0.375rem 0 0 0.375rem;
        }
        &--volume {
            border-radius: 0 0.375rem 0.375rem 0;
        }
    }

    &__timeline {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($BRAIN_FLIX_DARK_BLACK, 0.5);
        padding: 0 0.75rem 0 0.75rem;
        border-radius: 0.375rem;
        position: relative;
    }

    &__time {
        display: flex;
        min-width: 2.5rem;
        margin-left: 0.75rem;
    }

    // &__slider {
    //   width: 100%;
    //   height: 0.3125rem;
    //   background-color: rgba($BRAIN_FLIX_DARK_BLACK, 0);
    //   position: absolute;
    //   width: calc(100% - 5rem);
    //   color: $BRAIN_FLIX_BLUE;
    //   z-index: 5;
    // }

    // &__line {
    //   &--buffering {
    //   }
    //   &--playhead {
    //     position: absolute;
    //     width: calc(100% - 4.8rem);
    //   }
    // }
}

.vslider {
    width: 100%;
    height: 1rem;
    position: absolute;

    &--disabled {
        display: none;
    }

    &__thumb {
        height: 1rem;
        line-height: 0;
        font-size: 0;
        width: 1rem;
        background-image: url(../../assets/images/scrub.svg);
        border-radius: 50%;
        border: none;
        outline: none;
        transition: 1s linear;

        &-0 {
            cursor: grab;
            z-index: 20;
        }

        &-1 {
            background-color: $SILVER;
            background-image: none;
            border-radius: -50% 50% 50% -50%;
            outline: none;
            z-index: -5;
            width: 0;
            height: 0;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    &__track {
        top: 50%;
        transform: translateY(-50%);
        background: $BRAIN_FLIX_DARK_BLACK;
        border-radius: 0.15rem;
        height: 0.3rem;
        transition: 1s linear;

        &-0 {
            background-color: $BRAIN_FLIX_BLUE;
            z-index: 1;
        }
        &-1 {
            background-color: $SILVER;
            z-index: 1;
        }
    }
}
