@forward "../../styles/styles.scss";
@use "../../styles/styles.scss" as *;

.video {
    &__window{
        background-color: $BRAIN_FLIX_DARK_BLACK;
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: calc(.5625*100%);
        margin-bottom: $MBEFORE_HEADLINE_PADDING;

        // @include mobile{
        //     // max-height: 16rem;
        // }
    }

    &__controls{
        position: absolute;
        align-self: flex-end;
        @include component-padding(0,1,0,1);
        padding-bottom: .75rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: auto;
        max-width: 45rem;

        @include tablet-plus{
            padding-left:0;
            padding-right:0;
        }
    }

    &__volumefullscreen{
        display:flex;
        margin-left: 0.5rem;

        @include tablet-plus{
            margin-left: .75rem;
            margin-right: .75rem;
        }
    }

    &__button{
        &--play{
            width: 3rem;
            margin-right: .5rem;
            border-radius: .375rem;

            @include tablet-plus{
                margin-right: .75rem;
                margin-left: .75rem;
            }
        }
        &--fullscreen{
            border-radius: .375rem 0 0 .375rem;
        }
        &--volume{
            border-radius: 0 .375rem .375rem 0;
        }
    }

    &__timeline{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($BRAIN_FLIX_DARK_BLACK,.5);
        padding: 0 .75rem 0 .75rem;
        border-radius: .375rem;
    }

    &__time{
        display:flex;
        margin-left: .75rem;
    }

    &__progressbar{
        width: 100%;
        height: .25rem;
        background-color: $BRAIN_FLIX_DARK_BLACK;
        border-radius: .125rem;
    }
}
