@forward "../../styles/styles";

@use "../../styles/styles" as *;

header{
    border-bottom: $MERCURY solid 0.0625rem;
}

.upload{
    width:100%;
    max-width: 45rem;
    @include component-padding(0,1,1,1);
    @include desktop {
        max-width: $DESKTOP_COLUMN_WIDTH;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__headline{
        padding-top: $MBEFORE_HEADLINE_PADDING;
        @include component-padding(0,0,1);

        @include tablet-plus{
            border-bottom: solid $MERCURY 0.0625rem;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        @include tablet-plus{
            @include component-margin(1);
        }
    }

    &__file{
        display: flex;
        flex-direction: column;
        @include desktop {
            @include component-margin(0,1);
        }
    }

    &__thumbnail{
        width: 100%;
        max-width: 25.6875rem;
        aspect-ratio: 16/9;
        border-radius: $RADIUS;
        outline: none;
        @include component-margin(0,0,1)
    }

    &__fields{
        display:flex;
        flex-direction: column;
        width: 100%;
    }

    &__data{
        @include tablet-plus{
            border-bottom: $MERCURY solid 0.0625rem;
            @include component-margin(0,0,1);
        }
        @include desktop {
            display: flex;
        }
    }

    &__title{
        @include input-fields;
        @include component-margin(0,0,1);
    }

    &__description{
        @include input-fields;
        @include component-margin(0,0,1);
    }

    &__buttons{
        @include tablet-plus{
            display: flex;
            flex-direction: row-reverse;
        }

    }

    &__publish{
        @include component-margin(0,0,1);
    }

    &__cancel{
        display: inline;
        background-color: $WHITE;
        color: $BRAIN_FLIX_BLUE;

        &:hover{
            background-color: $WHITE;
            color: $BRAIN_FLIX_DARK_BLUE;
        }
    }
}

@keyframes uploadbutton{
    0% {
        content: "ING";
    }
    33% {
        content: "ING.";
    }
    66% {
        content: "ING..";
    }
    100% {
        content: "ING...";
    }
}

.button__text{
    &--uploading::after{
        content: "ING";
        animation: uploadbutton 1s linear infinite;
        animation-fill-mode: backwards;
    }
}

.blank{
    position: relative;
    opacity: 100%;
    transition: .5s;
    height: 100%;
    width: 100%;

    &--load{
        opacity: 0;
    }
}

.success{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 5;
}