@forward 'variables';
@forward 'mixins';

@use 'variables' as *;
@use 'mixins' as *;

// Default styles

@font-face {
    font-family: "AvenirNext";
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "AvenirNext";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2");
    font-weight: 700;
}

:root {
    margin: 0;
    padding-inline-start: 0;
    font-family: "AvenirNext";
    font-weight: 400;
    width: auto;
}

body {
    margin: 0;    
}


h1 {
    @include page-header(false);
    margin:0;
}

h2 {
    @include section-header(false);
    margin:0;
}

h3 {
    @include subheader(false);
    margin:0;
}

a {
    @include labels-and-buttons(false);
    margin:0;
}

p {
    @include body-copy(false);
    margin: 0;
}

button {
    @include labels-and-buttons(false);
    color: $WHITE;
    height: 2.25rem;
    background-color: $BRAIN_FLIX_BLUE;
    border: none;
    border-radius: $RADIUS;
    display: flex;
    align-items: center;
    position: relative;

    @include mobile{
        width: 100%;
    }

    @include tablet-plus{
        height: 2.5rem;
        width: 9.375rem;
    }

    &:hover {
        background-color: $BRAIN_FLIX_DARK_BLUE;
    }
}

input {
    @include input-fields;
    height: 2.25rem;
    min-width: 15rem;
    max-width: 100%;
    background-color: $ALABASTER;

    @include tablet-plus{
        height: 2.5rem;
    }

    &::placeholder {
        color: $BRAIN_FLIX_BLACK;
    }
}

textarea {
    @include input-fields;
    font-family: 'AvenirNext';
    resize: none;
    height: 8rem;
    background-color: $ALABASTER;

    @include tablet-plus{
        overflow: hidden;
        padding: 1rem;

    }

    &::placeholder {
        color: $BRAIN_FLIX_BLACK;
    }
}

img {
    background-color: $MERCURY;
}

label {
    @include labels-and-buttons(false);
    color: $SILVER;
    margin-bottom: .25rem;
}

video {
    width: 100%;
    height: calc(.5625*98vw);
    max-width: 45rem;
    object-fit: cover;
    max-height: 25.3125rem;

    @include tablet-plus{
        @include component-margin(0,1,0,1);
    }
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pfp {
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    border-radius: 50%;

    @include tablet-plus {
        height: 2.5rem;
        width: 2.5rem;
    }
}

.icon, .logo {
    background-color: rgba($color: #000000, $alpha: 0);
}

.button__icon {
    justify-self: left;
    position: absolute;
}

.button__text {
    @include labels-and-buttons(false);
    width: 100%;
}

.video__button {
    width: auto;
    background-color: rgba($BRAIN_FLIX_DARK_BLACK,.5);
    padding: 0.25rem .7rem 0.25rem .7rem;
    height: 1.5rem;
    line-height: 0;
    font-size: 0;
    display: flex;
    justify-content: center;

    @include tablet-plus{
        height: auto;
        padding: .5rem 1rem .5rem 1rem;
    }
}

.video__button img {
    background-color: rgba(#000000,0);
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.video__currenttime, .video__duration {
    margin:0;
    margin-top: .2rem;
    display: flex;
    align-items: center;
    font-size: .5rem;
    color: $WHITE;
}