// Resets

* {
    box-sizing: border-box;
}

//  these two resets allow window.scrollTo to function correctly
html {
    height: 100%;
    overflow: auto;
}
body {
    height: 100%;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: inherit;
    color: initial;
}
