// Desktop & Tablet Variables

$TDPAGE_HEADER_FONTSIZE: 2.0625rem;
$TDPAGE_HEADER_LINEHEIGHT: 2.75rem;

$TDSECTION_HEADER_FONTSIZE: 0.75rem;
$TDSECTION_HEADER_LINEHEIGHT: 1.25rem;

$TDSUBHEADER_FONTSIZE: 0.875rem;
$TDSUBHEADER_LINEHEIGHT: 1.375rem;

$TDBODY_COPY_FONTSIZE: 0.875rem;
$TDBODY_COPY_LINEHEIGHT: 1.375rem;

$TDLABELS_BUTTONS_FONTSIZE: 0.75rem;
$TDLABELS_BUTTONS_LINEHEIGHT: 1.25rem;

$TDBEFORE_HEADLINE_PADDING: 2.25rem;
$TDPADDING: 1.5rem;

// Mobile Variables

$MPAGE_HEADER_FONTSIZE: 1.5rem;
$MPAGE_HEADER_LINEHEIGHT: 2rem;

$MSECTION_HEADER_FONTSIZE: 0.75rem;
$MSECTION_HEADER_LINEHEIGHT: 1.25rem;

$MSUBHEADER_FONTSIZE: 0.8125rem;
$MSUBHEADER_LINEHEIGHT: 1.125rem;

$MBODY_COPY_FONTSIZE: 0.8125rem;
$MBODY_COPY_LINEHEIGHT: 1.125rem;

$MLABELS_BUTTONS_FONTSIZE: 0.75rem;
$MLABELS_BUTTONS_LINEHEIGHT: 1.25rem;

$MBEFORE_HEADLINE_PADDING: 1.5rem;
$MPADDING: 1.5rem;

// Universal Variables

$BRAIN_FLIX_BLACK: #323232;
$BRAIN_FLIX_BLUE: #0095FF;
$SILVER: #AFAFAF;
$WHITE: #FFFFFF;

$BRAIN_FLIX_DARK_BLACK: #000000;
$BRAIN_FLIX_DARK_BLUE: #0065AD;
$MERCURY: #E1E1E1;
$ALABASTER: #FAFAFA;

$ERROR: #D22D2D;

$RADIUS: 0.25rem;
