@forward "../../../styles/styles.scss";
@use "../../../styles/styles.scss" as *;


.comment {
    display: flex;
    width: 100%;
    border-bottom: 0.0625rem solid $MERCURY;

    @include desktop{
        @include component-padding(0,1);
    }

    &__pfp{
        @include component-margin(1,1,1);
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__button {
        @include component-margin(1,0,1);

        @include tablet-plus {
            margin-top: -8rem;
            margin-bottom: 8rem;
            align-self: flex-end;
        }
    }
}

.name{
    &__input{
        @include component-margin(0,0,1);
        @include tablet-plus {
            margin-right: 10.625rem;
        }
    }
}

.post{
    &__textarea{
        @include tablet-plus{
            height: 2.5rem;
            padding-top: .65rem;
        }
    }
}