@forward "../../styles/styles.scss";
@use "../../styles/styles.scss" as *;

.next{
    @include component-margin(1,1,1,1);
    height: 100%;

    @include desktop{
        margin-right: 0;
    }

    &__subheader{
        color: $SILVER;

        @include desktop{
            margin-top: 0;
        }
    }
}