@forward "../../../styles/styles.scss";
@use "../../../styles/styles.scss" as *;

.posted-comment {
    display: flex;
    border-bottom: 0.0625rem solid $MERCURY;

    @include desktop{
        @include component-padding(0,1);
    }

    &:last-of-type {
        @include desktop{
            border-bottom: none;
        }
    }

    &__pfp{
        @include component-margin(1,1,1);
        object-fit: contain;
        opacity: 0;

        &--background{
            background-color: $MERCURY;
            opacity: 100;
        }
    }

    &__text{
        @include component-margin(1,0,1);
        margin-bottom: 1rem;
        width: 100%;

    }

    &__header{
        display: flex;
        justify-content: space-between;
        margin: 0 0 .75rem;
    }

    &__name{
        font-weight: 600;
        width:60%;
        display: inline-block;
        word-break: break-word;
    }

    &__date{
        color: $SILVER;
    }

    &__comment{
        display: inline-block;
        word-break: break-word;
    }

    &__actions{
        display: flex;
        justify-content: right;
        align-items: center;
        @include component-margin(1);
    }
}

.actions__button{
    background-color: rgba($color: #000000, $alpha: 0);
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 0;
    cursor: pointer;

    &:hover{
        background-color: rgba($color: #000000, $alpha: 0);
    }
}

.delete{
    &__button{
        color: $BRAIN_FLIX_BLACK;
    }

    &__image{
        margin-left: 0.5rem;
        background-color: rgba($color: #000000, $alpha: 0);
    }
}